/* *{
    margin:0;
    padding: 0;
    border: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
} */

body{
    padding: 0;
    margin: 0;
}

nav{
    background-color: rgb(34, 34, 230);
    color: white;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    padding: 20px 10px 20px 300px;  
}
.search input{
    background-color: white;
    padding: 10px;
    margin-left: 25px;
    width: 600px;
    height: 20px;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 5px;
}
.loginbtn {
    margin-left: 20px;
    padding: 7px;
    font-size: 20px;
    border-radius: 5px;
    width: 150px;
    color: rgb(0, 81, 255);
    border: none;
}

.navendmenu a{
    color: white;
    padding: 60px;
    font-size: 20px;
    text-decoration: none;/* no underline*/
}

/* .proficon i{
     padding-right: 20px;
}
 */
.angledownicon {
    font-size:5px ;
 
}


.container{
    display: flex;
    flex-direction: column;
    background-color: rgb(30, 17, 17);
}
.left{
    position: absolute;
    width: 70%;
    background-color: aqua; 
}

