*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav{
    background-color: rgb(2, 3, 5);
    border-radius: 3px solid white ; 

}
.nav a{
   display: inline;
}
.container{
    justify-content: center;
    align-items: center;
    display: flex;
}
