

h1,h3{
    font-size: 55px;
    font-family: Whyte,sans-serif;
    line-height: 125%;
    text-align: center;
    color: black;
    letter-spacing: 1px;
}
.container input{
    border-radius: 5px;
    font-size: 30px;
    padding: 30px;
    margin: 0px auto;
    justify-content: center;
    width: 50%;
    border-color:black ;
    text-align: center;
    
}
.container button{
    font-size: 40px;
}
